### app logging
APP_ENV=local
APP_DEBUG=true
LOG_LEVEL=info
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret
DB_PORT=3306

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_RECEIVER="xxx@web.com"
MAIL_RECEIVER_NAME="Charly Brown"

### Shopify Api key, credentials and scope
SHOPIFY_API_KEY="xxx"
SHOPIFY_SECRET="xxx"
SHOPIFY_SCOPE="read_products"

SHOPIFY_API_KEY="xxx"
SHOPIFY_SECRET="xxx"

### application charge
APPLICATION_CHARGE_NAME="Charge Plan"
APPLICATION_CHARGE_PRICE=9.99
APPLICATION_CHARGE_TRIAL_DAYS=14
APPLICATION_CHARGE_TEST=true
